body {
  background-color: rgb(30,30,30) !important;
  color: whitesmoke !important;
}
h1 {
  padding-left: 5%;
  padding-right: 5%;
}
table {
  margin-left: 5%;
  margin-right: 5%;
}
th {
  padding-bottom: 10px;
}
th, td {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 15px;
}